# Dependencies
node_modules/
package-lock.json
yarn.lock

# Output Kompilasi
dist/
build/
*.js.map

# Environment
.env
.env.local

# Logs
*.log
logs/

# Editor/IDE
.vscode/
.idea/
*.swp
*.swo

# Sistem Operasi
.DS_Store
Thumbs.db

# Test Coverage
coverage/
.nyc_output/

# File Output Contoh
output.js
